// color variables / root

$thm-color: #fcbb01;
$base-color: #fff;
$txt-color: #2e2e2e;
$txt-color-secondary: #444;

// color variables / root

body {
  // font-family: 'Montserrat', sans-serif,;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
    Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 14px;
}

.cstm-navbar {
  padding: 0px;
  background: #000 !important;
  position: sticky;
  top: 0;
  z-index: 999;

  .navbar-brand {
    padding: 0px;
  }
}

.cstm-brand {
  svg {
    width: 100px;
    height: 100px;
  }
}

.usercheck-heading {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 400;

  a {
    color: #e45e52;
    font-weight: 600;
  }
}

.sign-block {
  padding: 20px;
  border: 0px;
  box-shadow: 10px 14px 40px 0px #f5f5f5;
  border-top: 5px solid #5c5c5c;

  h2 {
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  p {
    font-size: 13px;
    font-weight: 500;
  }

  .social-login {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;

    h3 {
      font-weight: 800;
    }

    .btn-social {
      width: 100%;
      border: 0px;
      padding: 10px 15px;
      color: $base-color;
      border-radius: 4px;

      i {
        margin-right: 8px;
      }

      &.facebook {
        background: #5272b3;
      }

      &.twitter {
        background: #0597e6;
      }

      &.google {
        background: #e45e52;
      }
    }
  }

  .input-box-container {
    min-height: 200px;
    padding: 30px 0px;
    border-top: 1px dashed #333;

    .form-label {
      font-weight: 600;
      font-size: 14px;
    }

    input {
      border: 1px solid #d8d8d8;
      height: 50px;
    }

    .pass-recall {
      color: rgb(26, 79, 179);
      font-weight: 500;
      font-size: 16px;
    }
  }

  .btn-signin {
    background: #333;
    color: $base-color;
    border: 0px;
    font-size: 18px;
    width: 100%;
    height: 45px;
    font-weight: 600;
    border-radius: 4px;
  }
}

.slide-panel {
  position: fixed;
  right: -360px;
  width: 400px;
  min-height: 200px;
  background: transparent;
  top: 100px;
  z-index: 9999;

  .slide-trigger {
    width: 40px;
    height: 120px;
    background: #000;
    float: left;
    position: relative;
    border-top: 1px solid $thm-color;
    border-left: 1px solid $thm-color;
    border-bottom: 1px solid $thm-color;
    margin-top: 6px;
    cursor: pointer;

    p {
      transform: rotate(-90deg);
      height: 24px;
      width: 100px;
      transform-origin: center;
      color: $thm-color;
      position: absolute;
      left: -30px;
      top: 42px;
    }
  }

  .slide-inner {
    float: left;
    width: calc(100% - 40px);
    min-height: 200px;
    background: #efefef;
    padding: 25px;
    box-shadow: 0px 1px 11px 1px #1e1e1e3b;
    position: relative;

    .slide-out-close {
      position: absolute;
      width: 30px;
      height: 30px;
      background: #000;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 4px;
      top: 4px;
      cursor: pointer;
    }

    h5 {
      font-size: 18px;
    }

    label {
      margin-top: 15px;
    }

    .btn-subscribe {
      width: 100%;
      border: 0px;
      height: 40px;
      color: #fff;
      background: $thm-color;
      margin-top: 15px;
    }
  }
}

// Career Section
.career-section {
  label.label-main {
    font-size: 16px;
    font-weight: 600;
  }

  .card {
    padding: 25px;
  }

  .form-career {
    p {
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 50px !important;
    }

    label {
      font-size: 14px;
      margin-bottom: 6px;
    }

    input {
      margin-bottom: 20px;
    }
  }
}

.city-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  margin-top: 20px;

  li {
    padding: 0px;
    margin: 0px;
    float: left;
    width: 33.33%;
  }
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(150, 150, 150);
  -o-border-image: none;
  border-image: none;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

// Career Section

// Safety Standards
.btn-watch {
  background: $thm-color;
  border: 0px;
  color: $txt-color;
  font-size: 18px;
  margin-top: 20px;
  height: 45px;
  padding: 0px 25px;
  font-weight: 600;
  border-radius: 4px;

  i {
    margin-right: 8px;
  }

  &:hover {
    background: $txt-color;
    color: $thm-color;
  }
}

a.btn-watch {
  padding: 10px 20px;
  text-decoration: none;
  line-height: 70px;
}

.safety-container {
  padding-top: 50px;

  .safety-intro {
    text-align: center;

    h3 {
      font-weight: 600;
    }
  }

  .safety-block {
    margin-top: 100px;
    margin-bottom: 100px;

    .block {
      text-align: center;

      img {
        margin-top: 20px;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          width: 100px;
          height: 4px;
          background: $thm-color;
          bottom: -10px;
          left: auto;
          right: auto;
        }
      }

      p {
        font-size: 16px;
        margin-top: 30px;
        font-weight: 500;
      }
    }
  }

  .safety-block-lg {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

// Safety Standards

.top-banner {
  height: 220px;
  background: url(../images/placeholder-banner.jpg) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;

  h2 {
    font-weight: 800;
  }
}

// Kicares

.care-container {
  padding: 100px 0px;
}

.feed-stream {
  .col-md-4 {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      margin-top: 10px;
      font-weight: 700;
      font-size: 18px;
    }
  }
}

// Kicares

// Loyality

.loyality-container {}

// Loyality

// blog
.blog-container {
  padding: 100px 0px;

  .blog-single {
    .col-md-4 {
      margin-bottom: 30px;

      h4 {
        font-size: 22px;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 15px;
      }
    }
  }

  &.loyality-container {
    .offer-discount {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 40px;
        margin-right: 15px;
      }

      p {
        margin-bottom: 0px;
      }
    }
  }
}

// blog

.refer-container {
  .referel-code {
    width: 250px;
    background: #474745;
    border-radius: 5px;
    min-height: 20px;
    margin: 20px auto;
    color: #fff;
    padding: 20px;
    font-size: 20px;
    position: relative;

    &:hover {
      button {
        display: block;
      }
    }

    button {
      font-size: 12px;
      border: 0px;
      padding: 2px 5px;
      position: absolute;
      top: 25px;
      right: 20px;
      border-radius: 5px;
      text-transform: uppercase;
      font-weight: 500;
      display: none;
    }
  }
}

// Dine in

.dine-rest-single {
  .address {
    font-size: 14px !important;
    font-weight: 400 !important;
    margin-top: -10px;

    span {
      font-size: 14px;
      font-weight: 400;
      display: block;

      a {
        text-decoration: none;
      }
    }
  }
}

.form-reservation {
  label {
    margin-bottom: 10px;
    display: block;
    font-weight: 600;
    font-size: 16px;
  }

  .form-group {
    margin-bottom: 30px;
  }
}

// Dine in

// Catering

.catering-container {
  padding: 100px 0px;

  .form-container {
    background: #f5f5f5;
    padding: 30px;
    font-size: 16px;

    .box-form {
      h5 {
        margin-bottom: 50px;
        font-size: 14px;
        font-weight: 600;
      }

      background: #fff;
      padding: 30px;

      .form-group {
        margin-bottom: 20px;

        label {
          font-size: 14px;
          font-weight: 500;
          margin-bottom: 5px;
        }

        input {
          margin-bottom: 10px;
          height: 45px;
        }
      }
    }

    .btn-submit {
      width: 100%;
      border: 0px;
      height: 45px;
      color: #fff;
      background: #000;
      font-size: 16px;
    }
  }
}

.primary-btn {
  border: none;
  border-radius: 50px;
  background-color: $thm-color;
  padding: 8px 16px;
  font-weight: 600;
  font-size: 14px;
  transition: background-color 0.3s color 0.3s;

  &:hover {
    background-color: #f5b12c;
    color: #fff;
  }
}

.cta-btn {
  margin-left: 36px;
  text-transform: uppercase;
  white-space: nowrap;
}



.banner-content {
  width: 66%;
  position: absolute;
  top: 30%;
  transform: translate(25%, -50%);

  h1 {
    font-weight: 600;
    font-size: 72px;
    line-height: 77px;
    color: #f5b12c;
    letter-spacing: 4px;
  }

  h2 {
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    color: #ffffff;
    letter-spacing: 2px;
  }
}

// .carousel-control-prev {
//     left: -84px;
// }

// .carousel-control-next {
//     right: -84px;
// }

.custom-carousel {
  position: relative;
}

.banner-global-footer {
  h4 {
    font-weight: 400;
    font-size: 28px;
    color: #fff;
    letter-spacing: 1px;
  }

  width: 66%;
  transform: translate(-50%, 0);
  position: absolute;
  left: 50%;
  bottom: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fresh-section {
  padding-top: 80px;

  .safety-intro {
    text-align: center;

    h3 {
      font-weight: 600;
      font-size: 36px;
      color: #000;
    }
  }

  .safety-block {
    margin-top: 80px;
    margin-bottom: 80px;

    .block {
      text-align: center;

      img {
        margin-top: 20px;
      }

      h4 {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 600;
        text-transform: uppercase;
        position: relative;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        &::after {
          content: "";
          position: absolute;
          width: 100px;
          height: 4px;
          background: $thm-color;
          bottom: -10px;
          left: auto;
          right: auto;
        }
      }

      p {
        font-size: 16px;
        margin-top: 30px;
        margin-bottom: 0;
        font-weight: 500;
      }
    }
  }

  .safety-block-lg {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.fresh-container {
  margin-top: 80px;

  // margin-bottom: 80px;
  .block {
    text-align: center;

    img {
      // margin-top: 20px;
      max-width: 150px;
    }

    h4 {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 600;
      // text-transform: uppercase;
      position: relative;
      display: flex;
      align-items: flex-end;
      justify-content: center;

      // &::after{
      //     content: "";
      //     position: absolute;
      //     width: 100px;
      //     height: 4px;
      //     background: $thm-color;
      //     bottom: -10px;
      //     left: auto;
      //     right: auto;
      // }
    }

    p {
      font-size: 16px;
      margin-top: 20px;
      font-weight: 500;
    }
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.section-title {
  margin-bottom: 48px;
  // text-align: center;
  font-weight: 600;
  font-size: 36px;
  color: #000;
}

.menu-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  .item-group {
    margin-bottom: 16px;

    .item-img {
      // border-radius: 16px;
      overflow: hidden;
      // height: 240px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
    }

    .menu-title {
      font-weight: 600;
      font-size: 20px;
      color: #000;
      text-align: center;
      margin-top: 12px;
    }
  }
}

.brand-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;

  .item-group {
    position: relative;

    .item-img {
      // border-radius: 16px;
      overflow: hidden;
      // height: 340px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
    }

    .menu-title {
      position: absolute;
      bottom: 48px;
      left: 50%;
      transform: translate(-50%, 0);
      white-space: nowrap;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 20px;
      color: #fff;
      text-align: center;
      margin-top: 12px;
    }
  }
}

.media-section {
  .media-content-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;

    .media-img {
      // border-radius: 16px;
      overflow: hidden;
      // height:273px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .media-thumb {
    // border-radius: 16px;
    overflow: hidden;
    height: 100%;

    img {
      cursor: pointer;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.blogger-items {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // gap: 20px;
  position: relative;

  .item-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item-img {
      // border-radius: 16px;
      overflow: hidden;
      // height: 298px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
    }

    .menu-title {
      bottom: 48px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 24px;
      color: #000;
      text-align: center;
      margin-top: 16px;
    }
  }

  .owl-nav.disabled {
    position: absolute;
    top: 25%;
    display: flex !important;
    width: 100%;
    justify-content: space-between;

    .owl-prev {
      margin-left: 16px;
      background-color: #fcbb01;
      border-radius: 0 !important;
      padding: 24px 20px !important;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      span {
        font-size: 48px;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 8px;
      }
    }

    .owl-next {
      margin-right: 16px;
      background-color: #fcbb01;
      border-radius: 0 !important;
      padding: 24px 20px !important;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      span {
        font-size: 48px;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 8px;
      }
    }
  }

  .owl-dots.disabled {
    display: block !important;
  }
}

.promo-img {
  overflow: hidden;
  // border-radius: 16px;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.promo-card-group {
  width: 500px;

  .promo-card {
    position: absolute;
    top: 10%;
    left: 60%;
    height: 105%;
    background-color: $thm-color;
    padding: 48px;
    // border-radius: 16px;
    overflow: hidden;

    h4 {
      margin-bottom: 24px;
    }
  }
}

.promo-section {
  padding-bottom: 140px !important;
}

.mobile-section-content {
  h4 {
    margin-bottom: 36px;
  }

  h6 {
    margin-bottom: 24px;
    line-height: 26px;
  }
}

.app-btn-group {
  display: flex;
  gap: 16px;
  margin-top: 36px;

  img {
    cursor: pointer;
  }
}

.footer-group {
  h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0;

    li {
      color: #fff;
      list-style: none;
      // background-color: #4D4D4D;
      // padding: 10px;
      // width: 100%;
      // cursor: pointer;
      transition: all 0.3s;

      a {
        text-decoration: none;
        color: #fff;
      }

      // &:hover{
      // background-color: #000;
      // }
    }
  }
}

.footer-group2 {
  width: 70%;

  h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 38px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 0;

    select {
      cursor: pointer;
    }

    li {
      color: #fff;
      list-style: none;
      // background-color: #4D4D4D;
      // padding: 10px;
      // width: 60%;
    }
  }
}

.footer-group3 {
  h4 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 38px;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0;

    li {
      color: #fff;
      list-style: none;
      font-size: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: all 0.3s;
      background-color: $thm-color;
      padding: 10px;
      border-radius: 50px;
      height: 48px;
      width: 48px;
      display: flex;
      align-items: center;
      justify-content: center;

      a {
        i {
          color: #4d4d4d;
          transition: all 0.3s;
        }
      }

      &:hover {
        font-weight: 600;

        a {
          i {
            color: #ffffff;
          }
        }
      }
    }
  }
}

.customer-review-items {
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;

  .item-group {
    margin-bottom: 0;

    .item-img {
      height: 360px;
    }
  }
}

.news-media-items {
  grid-template-columns: 1fr 1fr !important;
}

.media-carousel-item {
  height: 300px !important;

  .media-banner-content {
    text-align: center;
  }
}

.media-blogger-items {
  position: relative;

  .item-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    transition: all 0.5s;
    cursor: pointer;

    &:hover {
      opacity: 0.5;
    }

    .item-img {
      padding: 10px;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .media-bottom-item-img {
      padding: 10px;
      border-top: 1px solid #7676761c;
      max-height: 150px;
      height: 100%;
      display: flex;
    }
  }

  .owl-nav.disabled {
    position: absolute;
    top: 50%;
    transform: translate(0, -95%);
    display: flex !important;
    width: 100%;
    justify-content: space-between;

    .owl-prev {
      margin-left: 16px;
      background-color: #fcbb01;
      border-radius: 0 !important;
      padding: 24px 20px !important;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      span {
        font-size: 48px;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 8px;
      }
    }

    .owl-next {
      margin-right: 16px;
      background-color: #fcbb01;
      border-radius: 0 !important;
      padding: 24px 20px !important;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      span {
        font-size: 48px;
        font-weight: 600;
        line-height: 0;
        margin-bottom: 8px;
      }
    }
  }

  .owl-dots.disabled {
    display: block !important;
  }
}

.footer-location-group {
  display: flex;
  justify-content: center;
}

.footer-follow-group {
  display: flex;
  justify-content: end;
}

.contact-page-hero {
  position: relative;
  height: 300px;
  overflow: hidden;

  .banner-content {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 600;
      font-size: 72px;
      line-height: 77px;
      color: #f5b12c;
      letter-spacing: 4px;
    }

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.contact-lists {
  display: flex;
  flex-direction: column;
  gap: 32px;

  .contact-list-group {
    h6 {
      color: #292929;
      font-size: 16px;
      font-weight: 400;
    }

    a {
      color: hsl(44deg 99% 42%);
      text-shadow: 0.4px 0.4px #7c5c0059;
      transition: 0.3s;

      &:hover {
        color: hsl(44deg 99% 40%);
        text-shadow: 0.4px 0.4px #977100;
      }

      p {
        margin-bottom: 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}

.contact-map {
  padding: 0;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.head-office-contact-info {
  text-align: center;
  width: 50%;
  margin: auto;

  h4 {
    margin-top: 40px;
    margin-bottom: 32px;
  }

  p {
    font-size: 16px;
    color: #000;

    a {
      color: hsl(44deg 99% 42%);
      text-shadow: 0.4px 0.4px #7c5c0059;
      transition: 0.3s;
      font-size: 16px;
      font-weight: 600;

      &:hover {
        color: hsl(44deg 99% 40%);
        text-shadow: 0.4px 0.4px #977100;
      }
    }
  }
}

.store-locator-hero {
  position: relative;
  height: 400px;
  overflow: hidden;
  cursor: pointer;

  .banner-content {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 600;
      font-size: 72px;
      line-height: 77px;
      color: #f5b12c;
      letter-spacing: 4px;
    }

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.select-outlet-group {
  display: flex;
  flex-wrap: nowrap;
  gap: 32px;
  max-width: 775px;
  margin: auto;

  button {
    border: none;
    outline: none;
    padding: 16px 32px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    background-color: #d59d01;
    color: #fff;
    border-radius: 0.25rem;
    transition: 0.3s;

    &:hover {
      background-color: #f5b12c;
    }
  }

  .select-outlect-btn {
    cursor: pointer;
    height: 53px;
  }
}

.outlet-title {
  margin-top: 48px;
  margin-bottom: 36px;
  text-align: center;
}

.outlet-card-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;

  .outlet-card {
    box-shadow: 0 0 2px 1px #e6e6e6;
    position: relative;
    height: 450px;
    margin-bottom: 24px;

    .outlet-heading {
      text-align: center;
      padding-block: 16px;
      font-size: 16px;
      border-bottom: 1px solid #ddd;
    }

    .outlet-body {
      padding-inline: 16px;
      padding-block: 8px;

      .row {
        padding-block: 8px;
      }

      a {
        position: unset;
        color: hsl(44deg 99% 42%) !important;
        text-shadow: 0.4px 0.4px #7c5c0059;
        transition: 0.3s;
        padding: 0 !important;
        background: none;
        font-size: 14px;

        &:hover {
          color: hsl(44deg 99% 40%);
          text-shadow: 0.4px 0.4px #977100;
          background: none;
        }
      }
    }

    a {
      position: absolute;
      bottom: 0;
      text-align: center;
      padding-block: 16px;
      background-color: #d59d01;
      width: 100%;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
      font-weight: 600;
      transition: 0.3s;

      &:hover {
        background-color: #f5b12c;
      }
    }
  }
}

.category-items-group {
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  .item-group {
    margin-bottom: 0;

    .item-img {
      height: 360px;
    }

    .menu-title {
      font-weight: 600;
      font-size: 24px;
      color: #000;
      text-align: center;
      margin-top: 12px;
    }
  }
}

.category-paragraph {
  margin-bottom: 48px;
  font-size: 18px;
  text-align: center;
  line-height: 32px;
}

.category-section {
  padding-top: 48px;
  padding-bottom: 80px;
}

.sub-category-items {
  position: relative;

  .item-group {
    display: flex;
    flex-direction: column;
    align-items: center;

    .item-img {
      // border-radius: 16px;
      overflow: hidden;
      height: 350px;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          transform: scale(1.1);
          opacity: 0.7;
        }
      }
    }

    .menu-title {
      bottom: 48px;
      letter-spacing: 1px;
      font-weight: 600;
      font-size: 24px;
      color: #000;
      text-align: center;
      margin-top: 16px;
    }
  }

  .owl-nav {
    display: none;
  }

  .owl-dots.disabled {
    display: block !important;
  }

  .owl-dots {
    margin-left: auto;
    width: fit-content;
    padding-top: 16px;
    display: flex;
    gap: 12px;

    span {
      width: 12px;
    }

    .active {
      span {
        background-color: #f5b12c !important;
      }
    }
  }
}

.sub-category-content {
  padding-block: 6px;

  h3 {
    margin-bottom: 28px;
  }

  p {
    font-size: 16px;
    display: inline-block;
    margin-bottom: 12px;
  }

  span {
    font-weight: 600;
    font-size: 16px;
  }

  ul {
    display: inline-block;
    padding-left: 12px;

    li {
      list-style: none;

      .price {
        font-weight: 600;
        font-size: 16px;
      }
    }

    span {
      font-weight: 400;
      font-size: 14px;
    }
  }

  button {
    display: block;
    margin-top: 16px;
  }
}

.order-btn {
  padding: 8px 20px !important;
}

.menu-page-hero {
  position: relative;
  height: 250px;
  overflow: hidden;

  .banner-content {
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    h1 {
      font-weight: 600;
      font-size: 72px;
      line-height: 77px;
      color: #f5b12c;
      letter-spacing: 4px;
    }

    h2 {
      font-weight: 600;
      font-size: 48px;
      line-height: 58px;
      color: #ffffff;
      letter-spacing: 2px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tabs {
  background-color: #000;
  padding-block: 18px;

  ul {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 0;

    li {
      list-style: none;
      font-size: 14px;
      background-color: #0000002e;
      padding: 4px 16px;
      border-radius: 50px;
      border: 1px solid #000000;

      a {
        text-decoration: none;
        color: hsl(0, 0%, 100%);
        text-transform: uppercase;
        font-weight: 400;
        letter-spacing: 0.5px;
      }

      &.active {
        background-color: #ffc9332e;
        padding: 4px 16px;
        border-radius: 50px;
        border: 1px solid #976f00;

        a {
          color: #ffc933;
          font-weight: 600;
        }
      }
    }
  }
}

.tab-contents-title-group {
  max-width: 650px;
  margin: auto;
  margin-bottom: 64px;

  h3 {
    font-size: 28px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 24px;
  }

  p {
    text-align: center;
    color: #555555;
  }
}

.gift-contents {
  .top-content {
    max-width: 80%;
    margin: auto;
    margin-bottom: 64px;

    h3 {
      font-size: 28px;
      font-weight: 600;
      text-align: center;
      margin-bottom: 24px;
    }

    p {
      text-align: center;
      color: #333333;
    }
  }

  .middle-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
    margin-bottom: 48px;

    .item-group {
      .item-img {
        overflow: hidden;

        img {
          width: 100%;
          object-fit: cover;
          cursor: pointer;
          transition: all 0.5s;

          &:hover {
            transform: scale(1.1);
            opacity: 0.7;
          }
        }
      }
    }
  }

  .book-btn {
    margin-bottom: 64px !important;
    padding: 8px 32px;
    font-size: 18px;
    box-shadow: 0px 2px 3px #86868675;
    font-weight: 400;
    text-decoration: none;
    color: #000;
    transition: 0.2s ease-in-out;
    background-color: #fcbb01;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    width: fit-content;

    &:hover {
      background-color: #f5b12c;
    }
  }

  .bottom-content {
    p {
      text-align: center;
      color: #333333;
      width: 80%;
      margin: auto;
    }
  }
}

.tab-contents {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;

  .tab-content-card {
    background: #fff;
    padding: 32px;
    min-height: 180px;
    box-shadow: 0 0 10px 0 rgb(51 51 51 / 10%);

    .tab-content-card-title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .tab-content-card-body {
      p {
        margin-bottom: 0;
      }
    }
  }
}

.left-side-content {
  display: grid;
  gap: 32px;
  padding: 0 64px 32px 32px;

  .header-details {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 16px;

    .header-logo {
      img {
        border-radius: 3px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 18%);
        background: #fff;
        padding: 8px 12px;
        width: 64px;
        height: 64px;
      }
    }

    .logo-name {
      font-size: 18px;
      font-weight: bold;
    }
  }

  .description-details {
    .title {
      font-size: 24px;
      font-weight: bold;
    }

    .title-underline {
      border-color: #fcbb01 !important;
      width: 28px;
      border-bottom: 5px solid;
      margin-top: 20px;
    }

    p {
      img {
        width: 100%;
      }
    }

    ol {
      display: grid;
      gap: 16px;
    }

    .support-details {
      label {
        margin-bottom: 8px;
      }

      .sub-detail {
        margin-bottom: 8px;

        a {
          display: flex;
          gap: 8px;
          align-items: center;
          text-decoration: none;
          color: #000;

          svg {
            width: 16px;
          }
        }
      }
    }

    .terms-details {
      margin-top: 32px;
    }

    .details-footer {
      box-shadow: 0 -4px 4px -4px rgb(0 0 0 / 18%);
      padding: 16px 0;
      margin-top: 40px;
    }
  }
}

.right-side-content {
  margin-left: 32px;
  padding: 32px;
  padding-bottom: 118px;
  border-radius: 2px;
  box-shadow: 6px 11px 24px 0 rgb(23 31 37 / 12%);
  background: #fff;
  max-width: 480px;
  position: relative;

  .top-content {
    margin-bottom: 36px;

    .title {
      font-size: 18px;
      font-weight: bold;
    }

    .title-underline {
      border-color: #fcbb01 !important;
      width: 28px;
      border-bottom: 5px solid;
      margin-top: 20px;
    }
  }

  .voucher-form {
    display: grid;
    gap: 32px;

    .input-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      gap: 16px;

      &.input-addon-group {
        margin-bottom: 12px;

        .form-label {
          display: flex;
          flex-direction: column;
        }
      }

      .form-label {
        width: 140px;
        font-size: 16px;
        line-height: 20px;
        color: #515978;
        word-break: break-word;
        flex: 2;
        margin-bottom: 0;

        span {
          font-size: 12px;
          opacity: 0.7;
        }
      }

      .form-input {
        height: 36px;
        line-height: 16px;
        background: #fff;
        border: 1px solid #e2e2e2;
        border-radius: 2px;
        overflow: hidden;
        font-size: 14px;
        padding: 0 8px;
        outline: none;
        color: inherit;
        transition: 0.1s;
        flex: 3;

        &:hover {
          border-color: #c1c1c1;
        }

        &:focus {
          border-color: rgb(255, 202, 52);
        }
      }

      .field-content {
        height: 36px;
        flex: 3;
        margin-left: -12px !important;

        .field-wrapper {
          display: flex;
          flex-wrap: nowrap;
          align-items: center;
          height: 100%;
          background: #fcfcfc;
          border: 1px solid #e3e9eb;
          padding-right: 8px;

          .field-addon-left {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 8px;
            margin-right: 4px;

            img {
              height: 100%;
            }

            .currency-symbol {
              font-size: 14px;
              font-weight: 800;
              line-height: 0;
            }
          }

          .field-addon-right {
            margin-left: auto;

            .field-wrapper {
              position: relative;
              height: 100%;
              min-width: 96px;
              max-width: 96px;

              button:nth-of-type(1) {
                position: absolute;
                left: 0;
                top: 0;
                width: 24px;
                height: 100%;
                border: none;
                background-color: #fcbb01;
                font-size: 20px;
                font-weight: 600;
                line-height: 0;
                padding: 0 0 3px 1px;

                &.not-allowed {
                  cursor: not-allowed;
                  opacity: 0.3;
                }
              }

              input {
                width: -webkit-fill-available;
                padding: 0 26px;
                padding-right: 15px;
                outline: none;
                border: 1px solid #e3e9eb;

                &:hover {
                  border-color: #c1c1c1;
                }

                &:focus {
                  border-color: rgb(255, 202, 52);
                }
              }

              button:nth-of-type(2) {
                position: absolute;
                right: 0;
                top: 0;
                width: 24px;
                height: 100%;
                border: none;
                background-color: #fcbb01;
                font-size: 20px;
                font-weight: 600;
                line-height: 0;
                padding: 0 0 3px 1px;
              }
            }
          }
        }

        .field-description {
          font-size: 12px;
          margin: 4px 0;
          line-height: 16px;
          color: #6e6e6e;
        }
      }
    }
  }

  .form-footer {
    height: 56px;
    background: #f5f6f7;
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 32px;

    img {
      width: 120px;
    }

    button {
      border: none;
      height: 100%;
      background-color: #fcbb01;
      font-size: 16px;
      font-weight: 600;
      width: 180px;

      span {
        font-weight: 600;
        font-size: 16px;

        b {
          font-size: 14px;
        }
      }
    }
  }
}

.an-hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.438), rgba(0, 0, 0, 0.5)),
    url(./assets/img/rider.jpg);
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  // width: 100%;

  .hero-text {
    color: white;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: left;

    p {
      font-size: 20px;
    }

    h1 {
      font-size: 54px;
      font-weight: bold;
      margin-bottom: 24px;
    }

    .hero-cta:hover {
      box-shadow: none;
      transform: translateY(-5px);
      transition-duration: 2s;
    }

    .hero-cta {
      font-size: 18px;
      line-height: 26px;
      padding: 15px 32px;
      border: none;
      -webkit-appearance: none;
      display: inline-block;
      transform: translateY(0);
      transition: transform 0.3s cubic-bezier(0.03, 0.79, 0.29, 1);
    }
  }
}

.join-us {
  background-color: #292929;
  color: white;
  z-index: 1;
  position: relative;

  &::before {
    background: inherit;
    content: "";
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    outline: 1px solid transparent;
    top: 0;
    transform: skewY(3deg);
    transform-origin: 100% 0;
  }

  .row {
    padding: 60px 0px;
    padding-bottom: px;
  }

  .left-content {
    p {
      font-size: 24px;
      margin-bottom: 2rem;
    }



    ul {
      font-size: 24px;
      padding-left: 0px;

      li {
        display: flex;
        align-items: center;
        gap: 18px;
        list-style: none;
        margin-bottom: 16px;
      }
    }
  }

  .right-content {

    p {
      font-size: 24px;
      margin-bottom: 2rem;
    }

    background-color: white;
    border-radius: 3px;
    padding: 28px;

    color: #2e3333;

    .header {
      font-size: 30px;
      color: #292929;
      font-weight: bold;
    }

    ul {
      padding-left: 0px;

      li {
        font-size: 1.125rem;
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        font-weight: 500;
        gap: 18px;
      }
    }
  }
}

.here-for-you {
  background-color: #fcbb01;
  padding-top: 4rem;

  .left {
    img {
      height: 560px;
    }
  }

  .right {
    padding-top: 3rem;
    color: white;

    .title {
      font-size: 40px;
      line-height: 50px;
      font-weight: bold;
    }

    .details {
      font-size: 18px;
    }
  }
}



#video-section {

  .video-text-container {
    position: relative;

    .video-text {
      margin-top: 64px;


      .headerbg {
        position: absolute;
        /* left: 50%; */
        /* top: 20%; */
        font-size: 98px;
        font-weight: 900;
        opacity: 0.07;
        top: 0;
        letter-spacing: -1.9px;
        line-height: 100px;
        color: #005a53;
        z-index: 1;
      }
    }

  }

}

.social-login {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;

  h3 {
    font-weight: 800;
  }

  .btn-social {
    width: 100%;
    border: 0px;
    padding: 10px 15px;
    color: $base-color;
    border-radius: 4px;

    i {
      margin-right: 8px;
    }

    &.facebook {
      background: #5272b3;
    }

    &.twitter {
      background: #0597e6;
    }

    &.google {
      background: #e45e52;
    }
  }
}

$primary-color: #00b8a8; // Change color here. C'mon, try it! 
$text-color: mix(#000, $primary-color, 64%);


.radio-form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;


    /* Accessible outline */
    /* Remove comment to use */
    /*
      &:focus-within {
          outline: .125em solid $primary-color;
      }
    */
    input {
      position: absolute;
      left: -9999px;

      &:checked+span {
        background-color: mix(#fff, $primary-color, 84%);

        &:before {
          box-shadow: inset 0 0 0 0.4375em $primary-color;
        }
      }
    }

    span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em; // or something higher...
      transition: 0.25s ease;

      &:hover {
        background-color: mix(#fff, $primary-color, 84%);
      }

      &:before {
        display: flex;
        flex-shrink: 0;
        content: "";
        background-color: #fff;
        width: 1.5em;
        height: 1.5em;
        border-radius: 50%;
        margin-right: 0.375em;
        transition: 0.25s ease;
        box-shadow: inset 0 0 0 0.125em $primary-color;
      }
    }
  }

}

.search-banner-container {
  background-image: url("./assets/img/Group23.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 24px;
}




.result-card {
  color: #2e2e2e !important;
  transition: 0.2s ease;
  text-decoration: none !important;
  cursor: pointer;


  .image-container {
    height: 200px;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }

  }


  &:hover {
    border: 1px solid #e4e4e4 !important;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }
}







.btn-theme {
  background-color: #1c1c1c;
  color: white;

  &:hover {
    background-color: #00CCBB !important;
    color: #1c1c1c;
  }
}



// End Codepen spesific styling

@media screen and (min-width: 320px) and (max-width: 992px) {


  .contact-page-hero {
    height: 300px;
  }

  .menu-page-hero {
    height: 200px;
  }

  .menu-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .category-items-group {
    grid-template-columns: 1fr 1fr;

    .item-group {
      margin-bottom: 0;

      .item-img {
        height: 300px;
      }
    }
  }

  .brand-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .head-office-contact-info {
    width: 70%;
  }

  .outlet-card-group {
    grid-template-columns: 1fr 1fr;
  }

  .sub-category-items .item-group .item-img {
    height: 200px;
  }

  .middle-content {
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .an-hero-section {
    height: 60vh;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .banner {
    height: 764px;
  }

  .an-banner-container {
    padding-top: 97px;
  }

  .contact-page-hero {
    height: 250px;

    .banner-content {
      h1 {
        font-size: 36px;
        line-height: normal;
      }

      h2 {
        font-size: 24px;
        line-height: normal;
      }
    }
  }

  .menu-page-hero {
    height: 150px;

    .banner-content {
      h1 {
        font-size: 36px;
        line-height: normal;
      }

      h2 {
        font-size: 24px;
        line-height: normal;
      }
    }
  }

  .banner-content {
    h1 {
      font-size: 36px;
      line-height: normal;
    }

    h2 {
      font-size: 24px;
      line-height: normal;
    }
  }

  .banner-global-footer {
    gap: 16px;
    bottom: 20%;

    h4 {
      font-size: 18px;
      letter-spacing: 1px;
    }

    img {
      width: 50px;
    }
  }

  .section-title {
    font-size: 36px;
    margin-bottom: 18px;
  }

  .section {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .fresh-section {
    .safety-intro {
      h3 {
        font-size: 36px;
      }
    }
  }

  .fresh-container {
    margin-top: 36px;
  }

  .menu-items .item-group .menu-title {
    font-size: 14px;
    margin-top: 8px;
  }

  .menu-items {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .brand-items {
    grid-template-columns: 1fr 1fr;
    gap: 12px;

    .item-group {
      .menu-title {
        bottom: 24px;
        letter-spacing: 1px;
        font-size: 14px;
        margin-top: 8px;
        white-space: normal;
      }
    }
  }

  .media-section .media-content-column {
    margin-top: 12px;
    gap: 8px;
  }

  .media-section .media-content-column .media-img {
    height: 100%;
  }

  .promo-card-group {
    width: auto;

    .promo-card {
      position: inherit;
      padding: 24px;
      overflow: hidden;

      h4 {
        margin-bottom: 24px;
      }
    }
  }

  .promo-section {
    padding-bottom: 24px !important;
  }

  .app-btn-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 36px;

    img {
      cursor: pointer;
      width: 200px;
    }
  }

  .app-demo-img {
    margin-top: 36px;
    width: 80% !important;
  }

  .footer-location-group {
    display: flex;
    justify-content: start;
  }

  .footer-follow-group {
    display: flex;
    justify-content: start;
  }

  .head-office-contact-info {
    text-align: left;
    width: 100%;
    margin: auto;
  }

  .select-outlet-group {
    gap: 18px;
  }

  .outlet-card-group {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;

    .outlet-card {
      height: 400px;
      margin-bottom: 24px;
    }
  }

  .category-items-group {
    grid-template-columns: 1fr 1fr;

    .item-group {
      margin-bottom: 0;

      .item-img {
        height: 200px;
      }
    }
  }

  .sub-category-items .owl-dots {
    margin: auto;
    padding-top: 8px;
  }

  .sub-category-items .item-group .item-img {
    height: 200px;
  }

  .sub-category-content p {
    margin-bottom: 8px;
  }

  .sub-category-content h3 {
    margin-bottom: 18px;
  }

  .sub-category-content button {
    margin-top: 8px;
  }

  .sub-category-items .owl-dots {
    gap: 4px;
  }

  .category-paragraph {
    font-size: 14px;
    line-height: 24px;
  }

  .tabs {
    background-color: #000;
    padding-block: 18px;

    ul {
      gap: 8px;

      li {
        font-size: 12px;
        padding: 4px 16px;
      }
    }
  }

  .tab-contents-title-group {
    margin-bottom: 32px;
  }

  .tab-contents {
    grid-template-columns: 1fr;
    gap: 24px;
  }

  .middle-content {
    grid-template-columns: 1fr 1fr !important;
    gap: 8px !important;
  }

  .gift-contents .book-btn {
    margin-bottom: 32px !important;
  }

  .gift-contents .book-btn {
    margin-bottom: 32px !important;
  }

  .gift-contents .middle-content {
    margin-bottom: 24px;
  }

  .gift-contents .top-content {
    margin-bottom: 32px;
  }

  .gift-contents .top-content h3 {
    margin-bottom: 16px;
  }

  .right-side-content {
    margin-left: 0;
    padding-bottom: 150px;
  }

  .left-side-content {
    margin-top: 48px;
  }

  .form-footer {
    flex-direction: column-reverse;
    padding-left: 0 !important;
    height: 112px !important;

    img {
      padding-bottom: 14px;
    }

    button {
      width: 100% !important;
      height: 56px !important;
    }
  }

  .right-side-content .voucher-form .input-group {
    display: block;
  }

  .input-addon-group {
    margin-bottom: 16px !important;

    .form-label {
      flex-direction: row !important;
      width: auto !important;
      gap: 16px;
      margin-bottom: 8px !important;
    }
  }

  .right-side-content .voucher-form .input-group .field-content {
    margin-left: 0 !important;
  }

  .an-hero-section {
    height: 43vh;

    .hero-text {
      top: 50%;

      p {
        font-size: 16px;
      }

      h1 {
        font-size: 40px !important;

        margin-bottom: 24px;
      }

      .hero-cta:hover {
        box-shadow: none;
        transform: translateY(-5px);
        transition-duration: 2s;
      }

      .hero-cta {
        font-size: 14px;
        line-height: 20px;
        padding: 8px 16px;
        border: none;
        -webkit-appearance: none;
        display: inline-block;
        transform: translateY(0);
        transition: transform 0.3s cubic-bezier(0.03, 0.79, 0.29, 1);
      }
    }
  }

  .join-us {
    .left-content {
      p {
        font-size: 1.125rem;
        margin-bottom: 2rem;
      }


      ul {
        font-size: 1.125rem;
        padding-left: 0px;

        li {
          img {
            height: 45px;
          }
        }
      }
    }

    .right-content {
      background-color: white;
      border-radius: 3px;
      padding: 28px;
      color: #2e3333;
      margin-top: 32px;

      .header {
        font-size: 30px;
        color: #292929;
        font-weight: bold;
      }

      ul {
        padding-left: 0px;

        li {
          font-size: 1.125rem;
          display: flex;
          align-items: flex-start;
          margin-bottom: 1rem;
          font-weight: 500;
          gap: 18px;
        }
      }
    }
  }

  .here-for-you {
    background-color: #fcbb01;
    padding-top: 4rem;
    padding-bottom: 4rem;

    .left {
      img {
        height: 290px;
      }
    }

    .right {
      padding-top: 3rem;
      color: white;

      .title {
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
      }

      .details {
        font-size: 18px;
      }
    }
  }

  #video-section {

    .video-text-container {


      .video-text {
        margin-top: 118px;



        .headerbg {
          top: 39px;
          font-size: 3rem;

          letter-spacing: -1.9px;
          line-height: 3rem;

        }
      }

    }

  }



  #appstore {
    .appstore-container {
      .label {
        margin-bottom: 50px;
      }
    }
  }



  #option-list {
    .option-list-btn {
      .btn {
        flex: 1;
      }
    }
  }
}