@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --deep-violet: #440063;
}

.body {
  font-size: 16px;
}

p {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.navbar-brand span {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar-brand {
  color: #fff;
  font-size: 25px;

  font-weight: 700;
  letter-spacing: 0.1em;
}

.navbar-nav .nav-item .nav-link {
  padding: 1.1em 1em !important;
  font-size: 120%;
  font-weight: 500;
  letter-spacing: 1px;
  color: #fff;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #00ccbb;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  border-top: 3px solid #00ccbb;
}

.dropdown-item:hover {
  background-color: #00ccbb;
  color: #fff;
}

nav {
  -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
  -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
  transition: padding-top 0.3s, padding-bottom 0.3s;
  border: none;
}

.shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #212529;
}

.banner {
  background-image: url("./assets/img/Group23.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  display: flex;
  align-items: center;
}

/* .an-banner-container{
    padding-top: 153px;
} */

.banner-heading h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 50px;
  color: var(--deep-violet);
  margin-bottom: 9px;
  letter-spacing: 0.5px;
}

.banner-sub-heading {
  font-size: 30px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 50px;
  color: #fff;
}

.btn-banner {
  padding: 5px 20px;
  border-radius: 10px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}

.text-intro {
  width: 90%;
  margin: auto;
  text-align: center;
  padding-top: 30px;
}

.navbar-toggler {
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  padding: 0.1rem 0.5rem;
}

.shrink .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border: 1px solid #00ccbb;
}

.collapse.show {
  padding-bottom: 17px;
}

/* .hero-searchDropdown {
  width: 100% !important;
} */

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 40px !important;
}
.select2-container .select2-selection--single {
  height: 40px !important;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 40px;
}
.select2-container--default .select2-selection--single {
  border-radius: 0px;
}

/* mobile view */
@media (max-width: 500px) {
  .navbar-nav {
    background-color: #000;
    border-top: 3px solid #00ccbb;
    color: #fff;
    z-index: 1;
    margin-top: 5px;
  }

  .navbar-nav .nav-item .nav-link {
    padding: 0.7em 1em !important;
    font-size: 100%;
    font-weight: 500;
  }

  /* .banner-heading h1{
	font-size: 30px;
    line-height: 30px;
    margin-bottom: 20px;
}
.banner-sub-heading{
	font-size: 10px;
    font-weight: 200;
    line-height: 10px;
    margin-bottom: 40px;
} */
}

@media (max-width: 768px) {
  .banner-text {
    padding: 150px 0 150px 0;
  }

  .banner-sub-heading {
    font-size: 23px;
    font-weight: 200;
    line-height: 23px;
    margin-bottom: 40px;
  }
}

.hero-details {
  display: flex;
}

.hero-details .hero-text {
  flex: 1;
}

.hero-details .hero-character {
  flex: 1;
}

/* .hero-text{

padding: 0px 59px 0px 0px;
} */

.an-hero-srch-container {
  background-color: white;

  padding: 40px 27px;
}

.an-hero-srch-container .label {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
}

.an-hero-srch {
  gap: 0.5rem;
}

.an-hero-srch input {
  background-color: #ebebeb;
  border: 1px solid transparent;
  border-radius: 0px;
}

.an-hero-srch .btn {
  background-color: #5f5f5f;
  border-radius: 0px;
}

.introsection h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  padding: 46px 0px;
  font-weight: 700;
}

.single-item-container {
  /* display: flex; */
  background-color: #ffeae3;
}

/* .sitem-text{

padding: 62px 60px 98px 400px;
} */

.sitem-text h2 {
  font-size: 36px;
  line-height: 46px;
  color: #000;
  margin-bottom: 26px;
  font-weight: 700;
}

.sitem-text p {
  /* font-size: 18px; */
  line-height: 27px;
  color: #595959;
  margin-bottom: 50px;
}

.sitem-text .btn {
  background-color: #e76840;
  color: white;
  display: flex;
  justify-items: center;
  align-items: center;
  font-size: 22px;
  line-height: 28px;
  padding: 10px 24px;
  gap: 10px;
}

.single-item-img {
  /* background-image:url('./assets/img/kaccchi.png');
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center; */
  position: relative;
  /* height: 44rem; */
}

.btn-arrow-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.btn-arrow-container .arrow-left {
  background: transparent;
  border: 1px solid transparent;
}

.btn-arrow-container .arrow-right {
  background: transparent;
  border: 1px solid transparent;
}

.btn-arrow-container h2 {
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/opacity/see-through */
  padding: 0.375rem 1.75rem;
  font-size: 40px;
  font-weight: 300;
}

.cstm-img-row {
  display: -ms-flexbox;
  /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap;
  /* IE10 */
  flex-wrap: wrap;
  padding: 0 0px;
}

/* Create four equal columns that sits next to each other */
.cstmcolumn {
  -ms-flex: 33.33%;
  flex: 33.33%;
  max-width: 33.33%;
  padding: 0 4px;
}

.cstmcolumn .img-container::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.8799894957983193) 35%,
    rgba(255, 255, 255, 0) 100%
  );
}

.cstmcolumn .img-container {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.cstmcolumn .img-container .img-details {
  position: absolute;
  bottom: 2rem;
  left: 1.5rem;
  right: 1.5rem;
}

.cstmcolumn .img-container .img-details h4 {
  font-size: 24px;
  color: white;
  margin-bottom: 1rem;
}

.cstmcolumn .img-container .img-details p {
  font-size: 16px;
  line-height: 24px;
  color: #b9b9b9;
}

.cstmcolumn .img-container img {
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .cstmcolumn {
    -ms-flex: 33.33%;
    flex: 33.33%;
    max-width: 33.33%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .cstmcolumn {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

#menu-item .label h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  padding: 0px 0px 35px 0px;
  font-weight: 700;
}

/* #menu-item .img-container */

#option-list {
  /* background-color: #efefef; */
  background: url(./assets/img/item-bg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 0px;
}

#option-list .label h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  padding: 0px 0px 35px 0px;
  font-weight: 700;
}

.option-list-btn {
  display: flex;
  gap: 1.1rem;
  flex-wrap: wrap;
}

.option-list-btn button {
  background-color: #ffffff;
  font-size: 21px;
  font-weight: 500;
  border-radius: 0;
}

#video-section {
  background-color: white;
  padding: 5rem 0px;
}

#video-section .label h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  padding: 0px 0px 35px 0px;
  font-weight: 700;
}

.video-text h2 {
  margin-bottom: 16px;
}

#video-section .video-text h2 {
  font-size: 30px;
  font-weight: 700;
  /* margin-bottom: 2rem */
}

#video-section .video-text p {
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 2rem;
}

#video-section .video-text button {
  background-color: #000000;
  color: white;
  border-radius: 0px;
  width: 108px;
  height: 48px;
  font-size: 22px;
}

#appstore {
  background-image: url("./assets/img/appstorebg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 77vh;
  /* position: relative; */
}

#appstore::before {
  /* background-image:url('./assets/img/appstorebg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; */

  /* background-image:url('./assets/img/appstorebg.svg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center; */

  /* content: '';
    position: absolute;
    right: 0px;
    width: 40%;
    height: 63vh;
    background: url(./assets/img/appstorebg.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain; */
}

.appstore-container {
  padding-top: 10vh;
}

.btn.focus,
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0);
}

.appstore-container .label h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin-bottom: 20px;
  font-weight: 700;
}

/* #appstore .label p{
	margin-bottom: 30px;
} */
#appstore .label .btn-container {
  margin-top: 30px;
}

.btn-store {
  color: white;

  display: flex;

  padding: 10px 20px;
  background-color: #040404;
  border: 1px solid #040404;
  gap: 10px;
  align-items: center;
}

.btn-store svg {
  height: 30px;
  width: auto;
}

.btn-store .btn-text {
  text-align: left;
}

.btn-text h4 {
  font-size: 16px;
}

.btn-text p {
  font-size: 12px;
}

#work-with-cookit {
  padding: 70px 0px;
}

#work-with-cookit .label h1 {
  font-size: 36px;
  line-height: 45px;
  color: #000000;
  margin: 0;
  padding: 30px 0px;
  font-weight: 700;
}

#position-absolute button {
  background-color: black;
  color: white;
  border-radius: 0px;
}

#work-with-cookit .item div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
}

#work-with-cookit .item div .btn {
  background-color: black;
  color: white;
}

#work-with-cookit .square {
  position: relative;
  overflow: hidden;
}

.overflow-hidden {
  overflow: hidden;
}

#work-with-cookit .square .crd-details {
  bottom: 0;
  padding: 1rem;
}

#work-with-cookit .square .crd-details h4 {
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}

#work-with-cookit .square .crd-details p {
  font-weight: 300;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}
#work-with-cookit .square .crd-details .btn {
  position: relative;
  z-index: 2;
}

#work-with-cookit .square .crd-details::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  left: 0px;
  top: 0px;
  z-index: 1;
}
#work-with-cookit .square .crd-details::after {
  position: absolute;
  content: "";
  width: 65%;
  height: calc(100% + 30px);
  background: inherit;
  opacity: 0.5;
  left: 0px;
  bottom: 0px;
  transform: rotate(-3deg);
  border-radius: 20px;
  transition: width 0.4s ease-in;
}

#work-with-cookit .square .crd-details:first-of-type::before {
  background: #ed008c;
}
#work-with-cookit .square .crd-details.item2::before {
  background: #5fba8f;
}
#work-with-cookit .square .crd-details.item3::before {
  background: #e85600;
}

#work-with-cookit .square:hover .crd-details::after {
  width: 100%;
  transition: width 0.4s ease-in-out;
}

/* .crd-details.item1::before{
	background: #ED008C;
} */

.carousel-control-prev-icon {
  background-image: url(./assets/img/arrow.png) !important;
  width: 87px;
  height: 87px;
}

.carousel-control-next-icon {
  background-image: url(./assets/img/arrow.png) !important;
  transform: rotate(180deg);
  width: 87px;
  height: 87px;
}

.square {
  /* height: 300px;
	widtH: 300px; */
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 0px;
}

.card-img-top {
  border-radius: 0px;
}

/* .square:before {
	  content: '';
	  display: block;
	  position: absolute;
	  height: 0%;
	  width: 100%;
	  bottom: 0;
	  transition: height 0.5s ease-out;
	  background: linear-gradient(to bottom, transparent 0%, black 100%);
	}
	.square:hover:before {
	  height: 100%;
	}
	 */

.image-box {
  position: relative;
  margin: auto;
  overflow: hidden;
}

.image-box img {
  max-width: 100%;
  transition: all 0.3s;
  display: block;
  width: 100%;
  height: auto;
  transform: scale(1);
}

.image-box:hover img {
  transform: scale(1.1);
}

.riders {
  background-image: url("./assets/img/laptopuser.png");
}

.text-black {
  color: #000;
}

.btn-outline-white {
  border: 1px solid white !important;
  background-color: transparent !important;
  color: white;
}

.btn-outline-white:hover {
  border: 1px solid white !important;
  background-color: white !important;
  color: rgb(0, 0, 0);
}

#footer {
  background-color: #212121;
  padding: 12px 0px;
}

.container-col {
  background-color: #434848;
  padding: 24px;
  margin-bottom: 20px;
  border-radius: 4px;
}

#footer h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: white;
}

.footer-ul li {
  list-style: none;
}

.footer-ul li a {
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: white;
  text-decoration: none;
}

.footer-ul li a:hover {
  color: #00ccbb;
}

.socialmedia a {
  text-decoration: none;
}

.socialmedia .facebook {
  fill: white;
}

.socialmedia .facebook:hover {
  fill: #1773ea;
}

.socialmedia .twitter {
  fill: white;
}

.socialmedia .twitter:hover {
  fill: #1c9cea;
}

.socialmedia .instagram {
  fill: white;
}

.socialmedia .instagram:hover {
  fill: #c90070;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 426px) {
  .collapse.show {
    padding-bottom: 17px;
    transition: all 0.3s;
  }

  .banner {
    height: 602px;
  }

  .an-banner-container {
    padding-top: 97px;
  }

  .hero-character img {
    width: 86%;
  }

  .introsection h1 {
    font-size: 24px;
    line-height: 27px;
    padding: 20px 0px 20px 0px;
    text-align: center;
  }

  .hero-details {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .banner-heading h1 {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 16px;
  }

  .an-hero-srch-container .label {
    font-size: 16px;
    margin-bottom: 7px;
  }

  .an-hero-srch-container {
    background-color: white;
    padding: 22px 18px;
  }

  .sitem-text {
    text-align: center;
    padding-bottom: 37px;
  }

  .sitem-text .btn {
    margin: 0 auto;
  }

  .single-item-container {
    padding: 0px 0px;
  }

  .sitem-text h2 {
    font-size: 26px;
    line-height: 32px;
    margin-bottom: 15px;
  }

  .sitem-text p {
    margin-bottom: 20px;
  }

  .sitem-text .btn {
    font-size: 18px;
    line-height: 25px;
    padding: 7px 16px;
    gap: 10px;
  }

  .btn-container .btn-store {
    justify-content: center;
  }

  .btn-container .btn {
    flex: 1;
  }

  .btn-container .btn-store .btn-text {
    text-align: center;
  }
  #work-with-cookit .col-md-4 {
    margin-bottom: 16px;
  }
  #option-list .label h1 {
    font-size: 26px;
    line-height: 30px;
    color: #000000;
    margin: 0;
    padding: 0px 0px 26px 0px;
    font-weight: 700;
  }

  .option-list-btn button {
    font-size: 16px;
  }

  #video-section .label h1 {
    font-size: 26px;
    line-height: 1.423em;
  }
  .appstore-container .label h1 {
    font-size: 26px;
    line-height: 1.423em;
  }
  #work-with-cookit .label h1 {
    font-size: 26px;
    line-height: 1.423em;
  }
  #menu-item .label h1 {
    font-size: 26px;
    line-height: 1.423em;
    padding-bottom: 20px;
  }

  .option-list-btn {
    gap: 0.8rem;
  }
  #video-section {
    padding: 3rem 0rem;
  }
  .appstore-container {
    padding-top: 3rem;
  }

  #work-with-cookit .square .crd-details {
    padding: 1.5rem;
  }
  #work-with-cookit .square .crd-details p {
    margin-bottom: 16px;
  }
  #work-with-cookit {
    padding: 3rem 0rem;
  }

  .video-text h2 {
    margin-top: 24px;
  }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media screen and (min-width: 426px) and (max-width: 768px) {
  .container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .an-banner-container {
    padding-top: 134px;
  }

  /* .hero-text{
		padding-right: 3rem;
	} */

  .hero-details {
    align-items: flex-end;
  }

  .hero-details {
    flex-direction: column;
    gap: 30px;
  }

  .hero-character img {
    max-width: 70%;
  }

  .hero-details .hero-text {
    flex: 2;
  }

  .an-hero-srch-container {
    background-color: white;
    padding: 22px 20px;
  }

  .banner {
    height: 694px;
    display: flex;
    align-items: center;
  }

  .banner-heading h1 {
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 22px;
  }

  .square {
    height: 56vh;
  }

  #work-with-cookit .square .crd-details h4 {
    font-size: 18px;
    margin-bottom: 14px;
    line-height: 26px;
  }

  #work-with-cookit .square .crd-details p {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 22px;
  }
  #work-with-cookit .square .crd-details .btn {
    font-size: 0.75rem;
    line-height: 1;
    width: 100%;
  }

  .sitem-text {
    text-align: center;
    padding-bottom: 37px;
  }
  .sitem-text .btn {
    margin: 0 auto;
  }

  .introsection h1 {
    font-size: 32px;
  }
  #menu-item .label h1 {
    font-size: 32px;
  }
  #option-list .label h1 {
    font-size: 32px;
  }
  #video-section .label h1 {
    font-size: 32px;
  }
  .appstore-container .label h1 {
    font-size: 32px;
  }
  #work-with-cookit .label h1 {
    font-size: 32px;
  }
  #appstore {
    height: 50vh;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .hero-details .hero-text {
    padding-bottom: 5rem;
  }

  .banner-heading h1 {
    font-size: 32px;

    line-height: 40px;

    margin-bottom: 14px;
  }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 1025px) and (max-width: 1366px) {
  .carousel-control-next,
  .carousel-control-prev {
    width: 7%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1367px) and (max-width: 2560px) {
}

#video-section .video-text-container {
  position: relative;
}
#video-section .video-text-container .video-text {
  margin-top: 64px;
}
#video-section .video-text-container .video-text .headerbg {
  position: absolute;
  /* left: 50%; */
  /* top: 20%; */
  font-size: 112px;
  font-weight: 900;
  opacity: 0.07;
  top: 0;
  letter-spacing: -1.9px;
  line-height: 100px;
  color: #005a53;
  z-index: 1;
}

.social-login {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}
.social-login h3 {
  font-weight: 800;
}
.social-login .btn-social {
  width: 100%;
  border: 0px;
  padding: 10px 15px;
  color: #fff;
  border-radius: 4px;
}
.social-login .btn-social i {
  margin-right: 8px;
}
.social-login .btn-social.facebook {
  background: #5272b3;
}
.social-login .btn-social.twitter {
  background: #0597e6;
}
.social-login .btn-social.google {
  background: #e45e52;
}

@media screen and (min-width: 340px) and (max-width: 768px) {
  #video-section .video-text-container .video-text .headerbg {
    font-size: 85px;
    letter-spacing: -1.9px;
    line-height: 90px;
  }
  #appstore .appstore-container .label {
    margin-bottom: 50px;
  }
} /*# sourceMappingURL=newStyle.css.map */
